

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
}
.App-logo {
  height: 80px;
  width: 80px;
}
.main-body {
  height: 100%;
  background-color: #26b2f3;
}